/* ********************Root******************** */
*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#b2b4b7;
}
/* *********************Form************************ */
/* *********************story************************** */
.story{
  display: none;
}
